@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}  
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

/* Header section */
header{
    background-color: rgba(255, 0, 0,0.2);
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header.fixed{
    background-color: #ffffff;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader .5s ease;
}

@keyframes fixHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-0%);
    }
}

header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
 text-decoration: none;
 font-size: 22px;
 font-weight: 600;
 color: #ffffff;
 text-transform: uppercase;
 position: relative;
}

/* header .brand-name a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width:100%;
    position: absolute;
    left: 0px;
    bottom: 0px; 
} */
 
header.fixed .brand-name a{
    color: #000000;
}
header .navbar ul{
list-style: none;
padding: 0;
margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header.fixed .navbar ul li a{
    color: #000000;
}

header.fixed .navbar ul li a::before{
    background-color: #febd01;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width:0%;
    position: absolute;
    right: 0px;
    bottom: -1px; 
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}

/* Home section */
.home{
    min-height: 100vh;
    background-image: url("../images/landing-image2.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}
 
.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    background-color: rgba(141, 29, 29,0.3);
    border-radius: 2rem;
    flex: 0 0 75%;
    max-width: 50%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding: 0;
}
.home .home-content .block h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}

.home .home-content .block .cv-btn a{
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* About Me Section */
.about-me{
  padding: 100px 15px;
  background-color: #ffffff;
}


.text-uppercase{
    text-transform: uppercase!important;
}

.about-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img{
    width: 100%;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.about-me .about-content .text{
    flex: 0 0 66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}
.about-me .about-content .text h6{
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000;
}
.about-me .about-content .text h6 span{
    color: #febd01;
}

.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #838383;
    margin: 0 0 13px;
}

.about-me .about-content .text .info{
    /* background-color: #d5d5d5; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7px;
}
.about-me .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info .list label{
     margin-right: 10px;
     color: #000000;
     font-weight: 600;
     font-size: 15px;

}

.about-me .about-content .text .social-links{
    padding-top: 7px;
}
.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
} 
.about-me .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a .fa:hover{
    color: #000000;
}

/* Services Section */
.services{
     background-color: #f5f8fd;
     padding: 100px 0px 70px;
}
.services .section-title h1:before{
 left: 30%;
}

.services .service-content{
    flex: 0 0 100%;
    max-width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .service-content .box{
    background-color: #ffffff;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.services .service-content .box::before{
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.services .service-content .box:hover::before{
    width: 100%;
}
.services .service-content .box .icon{
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin:15px auto 20px;
    border-radius: 50%;
    text-align: center;
}
.services .service-content .box .icon .fa{
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}
.services .service-content .box h5{
   font-size: 16px;
   font-weight: 600;
   color: #000000;
   margin: 0;
}
.services .service-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin:10px 0 10px;   
}

/* Skills */
.skills{
    padding: 100px 15px;
    background-color: #ffffff
}
.skills .skills-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right:40px;
}

.skills .img{
    background-color: blue;
    flex: 0 0 50%;
    max-width: 50%;
}

.align-items-center{
    align-items: center;
}
.skills .img img{
    width: 100%;
    display: block;
}

.skills .skills-content .section-title p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0 0;
}

.skills .skills-content .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.skills .skills-content .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}

/* Portfolio Works */
.portfolio{
    background-color: #f5f8fd;
    padding: 100px 7px;
}
.portfolio .section-title h1:before{
    left: 30%;
}
.portfolio .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
}
.portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.portfolio .filter-buttons ul li{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active{
    color: #febd01;
    border-bottom: 2px solid #febd01;
}
.portfolio .filter-buttons{
    margin-bottom: 25px;
}
.portfolio .portfolio-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item{
    flex: 0 0 33.33%;
    max-width:33.33%;
    position: relative;
    padding: 8px;
}
.portfolio .portfolio-gallery .item .inner{
    position: relative;
}
.portfolio .portfolio-gallery .item img{
    width: 100%;
    display: block;
}
.portfolio .portfolio-gallery .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay{
    opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
   
}
.portfolio .portfolio-gallery .item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1; 
    }
}
.portfolio .portfolio-gallery .item .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}
.portfolio .portfolio-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}
@keyframes galleryText{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1; 
    }
}

/* Lightbox */
.lightbox{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
.lightbox.show{
    display: flex;
}
.lightbox.hide{
    display: none;
}

.lightbox .close-lightbox{
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    color:#febd01;
    text-align: center;
    line-height: 35px;
    position:absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}
.lightbox img{
    max-width: 90%;
    max-height: 80%;
    display: block;
}
/* message text */
.message-text{
    background-color: #0c0c17;
    padding: 40px 15px;
}
.message-text .text{
    /* background-color: red; */
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.message-text h2{
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.message-text .button{
    /* background-color: grey; */
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}
.message-text .button a{
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.message-text .button a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* testimonial */

.testimonials{
    min-height: 100vh;
    background-color: #000000;
    float: left;
    width: 100%;
    padding: 100px 15px;
}
.container-test{
    max-width: 1170px;
    margin: auto;
}

.testimonials .title{
    margin-bottom: 60px;
}

.testimonials .title h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
}
.testimonials .slider{
    border: 1px solid #333333;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.testimonials .slider .slide{
    display: none;
}

.testimonials .slider .slide.active{
    display: block;
    animation: slide 1s ease;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.testimonials .slider p{
    font-size: 18px;
    color: #ffffff;
    word-spacing: 2px;
}
.testimonials .slider .client-info h3{
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    margin: 30px 0 10px;
}

.testimonials .slider .client-info span{
    display: block;
    font-size: 16px;
    color: #11bead;
}
.testimonials .slider-indicator{
    text-align: center;
    padding-top: 30px;
}
.testimonials .slider-indicator img{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.2;
    border: 4px solid #ffffff;
    cursor: pointer;
    transition: opacity 1s ease; 
}

.testimonials .slider-indicator img.active{
    opacity: 1;
}

/* Footer */
footer{
    padding: 40px 15px;
    background-color: #0c0c17;
}

footer .logo{
    /* background-color: #d5d5d5; */
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}

footer .social{
    /* background-color: #d5d5d5; */
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition:all .5s ease;
    text-decoration: none;
}

footer .social a:hover{
    color: #ffffff;
}   

/* copyright */
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15 px;
}